<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">${c.pkg.title or c.pkg.name} - Comment</py:def>

  <py:match path="breadcrumbs">
    <li><a href="/data/search">Datasets</a></li>
    <li><a href="${h.url_for(controller='package',action='read',id=c.pkg_dict['name'])}">${c.pkg.title}</a></li>
    <li>
      <a py:if="c.action == 'add'" href="${h.url_for(controller='ckanext.dgu.controllers.feedback:FeedbackController',action='add',dataset_name=c.name)}">New Comment</a>
      <a py:if="c.action == 'reply'" href="${h.url_for(controller='ckanext.dgu.controllers.feedback:FeedbackController',action='add',dataset_name=c.name)}">Reply to comment</a>
    </li>
  </py:match>

  <div py:match="content" class="group-edit-form">
    <div class="boxed">
      <h3 py:if="c.action == 'add'">New comment</h3>
      <h3 py:if="c.action == 'reply'">Reply to '${c.parent.subject}'</h3>

      ${Markup(c.form)}
    </div>
  </div>

  <xi:include href="../layout.html" />
</html>

