{% extends "page.html" %}

{% block subtitle %}{{c.pkg.title or c.pkg.name}} - Comment{% endblock %}
{% block breadcrumb_content %}
<li><a href="/data/search">Datasets</a></li>
<li><a href="{{h.url_for(controller='package',action='read',id=c.pkg_dict['name'])}}">{{c.pkg.title}}</a></li>
<li>
  {% if c.action == 'add'%}
  <a href="{{h.url_for(controller='ckanext.dgu.controllers.feedback:FeedbackController',action='add',dataset_name=c.name)}}">New Comment</a>
  {% endif %}
  {% if c.action == 'reply'%}
  <a href="{{h.url_for(controller='ckanext.dgu.controllers.feedback:FeedbackController',action='add',dataset_name=c.name)}}">Reply to comment</a>
  {% endif %}
</li>
{% endblock %}

{% block primary_content %}

    <div class="boxed">
        {% if c.action == 'add'%}
        <h3>New comment</h3>
        {% endif %}
        {% if c.action == 'reply'%}
        <h3>Reply to '{{c.parent.subject}}'</h3>
        {% endif %}

      {{c.form}}
    </div>


{% endblock %}