<form id="comment-edit" method="post"
  py:attrs="{'class':'has-errors comment-create-form ckan form-horizontal'} if c.errors else {'class':'comment-create-form ckan form-horizontal'}"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  onsubmit="return validate_feedback()"
>




    <div class="error-explanation alert alert-error " py:if="errors">
        <p>The form contains invalid entries:</p>
        <ul>
            <py:for each="k,v in errors.iteritems()">
                <li data-field-label="${k}">${v}</li>
            </py:for>

        </ul>
    </div>


<div py:if="c.parent_dict">
    <span class="submitted">Posted by <a py:if="c.parent_dict['username'] != 'anonymous'" href="/users/${c.parent_dict['username']}" title="View user profile." class="username" xml:lang="" about="/users/${c.parent_dict['username']}" typeof="sioc:UserAccount" property="foaf:name" datatype="">${c.parent_dict['username']}</a><span py:if="c.parent_dict['username'] == 'anonymous'">Anonymous</span> on ${h.render_datetime(c.parent_dict['creation_date'], with_hours=True)}
    </span>
    <div class="reply-body">
        <div class="field field-name-field-reply-comment field-type-text-long field-label-hidden">
            <div class="field-items">
                <div class="field-item even">${Markup(c.parent_dict.get('content'))}</div>
            </div>
        </div>
    </div>
    <hr/>
</div>

<form class="form" action="" method="POST">
  <div class="form-controls">
      <div class="control-group control-full">
          <label class="control-label" for="field-subject">Subject</label>
          <div class="controls ">
              <input id="field-subject" type="text" name="subject" value="" placeholder=""/>
          </div>
      </div>

      <div class="control-group control-full">
          <label class="control-label" for="field-comment"><span title="This field is required" class="control-required">*</span> Comment</label>
          <div class="controls editor">
              <textarea id="field-comment" name="comment" cols="18" rows="5" placeholder=""></textarea>
          </div>
      </div>
  </div>
  <div class="form-actions">
    <input type="submit" class="btn btn-primary" value="Save"/>
    <input type="reset" class="btn" value="Reset"/>
  </div>
</form>


</form>