{% extends "page.html" %}

{% block subtitle %}{{ _("Moderation") }}{% endblock %}
{% block breadcrumb_content %}
<li class="active"><h3><a href="{{h.url_for(controller='ckanext.comments.controllers.comments:CommentController',action='moderation')}}">Comment moderation</a><h3></li>
{% endblock %}

{% block primary_content %}

      <h3>Comment moderation</h3>

      <div class="panel panel-default">
          <div class="panel-heading">
          Comments
          </div>
          <div id='all' class="panel-body">
              <p>
                  This list contains all of the comments that have been flagged by users,
                  or identified by the spam check as being inappropriate. You may process
                  them one at a time or use the checkboxes on the left of the table to update
                  in bulk.
              </p>
              <a id="selectall" href="#">Select all</a> &nbsp;
              <a id="unselectall" href="#" style="display:none;">Unselect all</a> &nbsp;
              <button class="btn btn-success" disabled='true'>Publish selected</button>
              <button class="btn btn-danger"  disabled='true'>Delete selected</button>
          </div>
      </div>

      <table class="table table-bordered" style="table-layout:fixed">
        <thead>
          <tr>
            <th  style="width: 30px;"></th>
            <th>Author</th>
            <th>Subject</th>
            <th>Content</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for comment in c.comments %}
            <tr>
              <td style="width: 30px;"><input type="checkbox" value="{{comment.id}}"/></td>
              <td>{{comment.username}}</td>
              <td>{{comment.subject}}</td>
              <td style="overflow-x:scroll">{{comment.content}}</td>
              <td>
                  <button class="btn btn-success">Publish</button>
                  <button class="btn btn-danger">Delete</button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    <script type="text/javascript">
      $(document).ready(function(){
          $(":checkbox").change(function() {
              $(this).closest("tr").toggleClass("warning", this.checked);
              $('#all button').prop('disabled', false);
          });

          $("#selectall").click(function(){
            $(":checkbox").prop('checked', true);
            $("tr:not(:first)").toggleClass("warning", true);
            $(this).hide();
            $('#all button').prop('disabled', false);
            $('#unselectall').show()
          });
          $("#unselectall").click(function(){
            $(":checkbox").prop('checked', false);
            $("tr:not(:first)").toggleClass("warning", false);
            $(this).hide();
            $('#all .btn').prop('disabled', true);
            $('#selectall').show()
          });
      });
    </script>

  </div>

{% endblock %}

