<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >


<py:def function="render_comment_reply_button(url, parent_id)">
    <a py:if="c.userobj" href="${url}/comments/reply/${parent_id}" class="btn btn-mini flag flag-action flag-link-toggle">Reply to this comment</a>
    <a py:if="not c.userobj" href="/user?destination=${url[1:]}#comments">Login to reply to this comment</a>
</py:def>

<py:def function="render_comment(comment, depth=0, single=False, url=url)">
<div id="reply-700" class="reply push-${depth} boxed boxed">
    <a id="comment_${comment['id']}"></a>
    <a py:if="comment['username'] != 'anonymous'" href="/users/${comment['username']}">
            <img typeof="foaf:Image" src="http://data.gov.uk/sites/default/files/styles/avatar/public/profiles/dgu/themes/custom/dguk/default_images/default_user.png" width="60" height="60" alt=""/>
    </a>
    <a py:if="comment['username'] == 'anonymous'" href="">
        <img typeof="foaf:Image" src="http://data.gov.uk/sites/default/files/styles/avatar/public/profiles/dgu/themes/custom/dguk/default_images/default_user.png" width="60" height="60" alt=""/>
    </a>
    <h3>${comment['subject']}</h3>
    <span class="submitted">Posted by <a py:if="comment['username'] != 'anonymous'" href="/users/${comment['username']}" title="View user profile." class="username" xml:lang="" about="/users/${comment['username']}" typeof="sioc:UserAccount" property="foaf:name" datatype="">${comment['username']}</a><span py:if="comment['username'] == 'anonymous'">Anonymous</span> on ${h.render_datetime(comment['creation_date'], with_hours=True)}
    </span>
    <div class="reply-body">
        <div class="field field-name-field-reply-comment field-type-text-long field-label-hidden">
            <div class="field-items">
                <div class="field-item even">${Markup(comment.get('content'))}</div>
            </div>
        </div>

        <div style="border-top: solid 1px #ddd;">
            ${render_comment_reply_button(url, comment['id'])}
            <a href="/dataset/${c.pkg.name}/comments/flag/${comment['id']}" title="" class="btn btn-mini flag flag-action flag-link-toggle pull-right" rel="nofollow"> <i class="icon-exclamation-sign"></i> &nbsp;Flag as offensive</a>
        </div>
    </div>

      <div class="clearfix"></div>
      <div class="replies" py:if="not single" style="margin-top:10px;">
            <py:for each="child in comment['comments']">
                ${render_comment(child, depth+1, url=url)}
            </py:for>
      </div>
</div>
</py:def>


<py:def function="show_comments(url)">
<py:with vars="comments=h.get_comments_dict(url)['comments']">
    <div id="new-comments-container">
    <a py:if="not c.user" href="/user?destination=dataset/${c.pkg.name}/comments/add" class="btn btn-primary btn-mini add-feedback-button pull-right">
      Login to add a comment »
    </a>
    <a py:if="c.user" href="/dataset/${c.pkg.name}/comments/add" class="btn btn-primary btn-mini add-feedback-button pull-right">
      Add a comment »
    </a>
    <div class="clearfix"></div>
    <div class="replies-wrapper">
      <a id="comments"></a> <!--Anchor to display nodes' comments.-->
        <py:for each="comment in comments">
            ${render_comment(comment, url=url)}
        </py:for>
    </div></div>
</py:with>
</py:def>

</html>
