<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >



<py:def function="show_comments(url)">
<py:with vars="comments=h.get_comments_dict(url)['comments']">
    <div id="new-comments-container"><div class="replies-wrapper">
      <a id="comments"></a> <!--Anchor to display nodes' comments.-->
        <div class="replies">
        <py:for each="comment in comments">
            <div id="reply-700" class="reply push-0 boxed boxed">
            <a href="/users/${comment['username']}">
                    <img typeof="foaf:Image" src="http://data.gov.uk/sites/default/files/styles/avatar/public/profiles/dgu/themes/custom/dguk/default_images/default_user.png" width="60" height="60" alt=""/>
            </a>
            <h3>Provision 2010 Data</h3>
            <span class="submitted">Posted by <a href="/users/${comment['username']}" title="View user profile." class="username" xml:lang="" about="/users/${comment['username']}" typeof="sioc:UserAccount" property="foaf:name" datatype="">${comment['username']}</a> on Wed, 26/05/2010 - 11:31
            </span>
            <div class="reply-body">
                <div class="field field-name-field-reply-comment field-type-text-long field-label-hidden">
                    <div class="field-items">
                        <div class="field-item even">${Markup(comment.get('content'))}</div>
                    </div>
                </div>
            </div>
              <span class="pull-right flag-wrapper flag-spam-reply flag-spam-reply-700">
                  <a href="/flag/flag/spam_reply/700?destination=dataset/a419263f-d79a-42be-bdc8-48fa44254a35%3Fcomments_per_page%3D999999&amp;token=fd3fc2baf99827678db19322b33aac3e" title="" class="btn btn-mini flag flag-action flag-link-toggle" rel="nofollow"> <i class="icon-exclamation-sign"></i> &nbsp;Flag as offensive</a><span class="flag-throbber">&nbsp;</span>
                </span>
              <div class="reply-links"></div>
              </div>
        </py:for>
      <div class="replies-links"><a href="/user/login?destination=reply/add/4631/32/0">Login</a> to make a comment</div>  </div>
    </div></div>
</py:with>
</py:def>

</html>
